* {
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;
  }

h1 {
    text-align: left;
    margin-top: 10%;
    font-weight: bold;
}

header h1 {
    text-align: center;
}

ul {
    list-style: none;
    padding-left: 0px;
}

li {
    text-align: left;
    margin-bottom: 0.2em;
}

#highscores {
    float: left;
    position: absolute;
    top: 0;
    left: 1em;
    clear: both;
    color: red;
}

#timer {
    float: right;
    position: absolute;
    top: 0;
    right: 1em;
    clear: both;
}

#highscore-list {
    list-style: none;
    padding-left: 0px;
}

.highscore {
    text-align: left;
    font-weight: bold;
    padding: 0.25em 1em;
    color: black;
    border-radius: 5px;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.btn-red {
    background-color: red;
    border-color: red;
    color:yellow;
    font-weight: bold;
    padding: 3px 6px;
}

.nav-container {
    position: relative;
    width: 100%;
    margin-top: .5em;
    font-size: 26px;
    height: 40px;
    font-weight: bolder;
}

.submit-field {
    text-align: left;
}

@keyframes cssAnimation {
    0%   {opacity: 1;}
    99% {opacity: 1;}
    100% {opacity: 0;}
}